<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/meals.css">
    <script src="https://kit.fontawesome.com/8f6e3efd56.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <title>FITHUB | Daily Meal Planner</title>
    
</head>
<body>
    <!-- header section -->
    <nav>
        <a href="/"><div class="logo">FitHub</div></a>
        <ul>
            <li><a href="/meals">Meal Planner</a></li>
            <li><a href="/gym">Get Active</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div id="mealPlanner" class="container">
        <fieldset>
            <form action="/meals" method="post">
                <label for="diet">Choose a diet:</label>
                <select name="diet" id="diet">
                    <option value=" ">No specific diet</option>
                    <option value="vegan">Vegan</option>
                    <option value="vegetarian">Vegetarian</option>
                    <option value="perscatarian">Pescatarian</option>
                    <option value="ketogenic">Ketogenic</option>
                    <option value="paleo">Paleo</option>
                </select>
                <input name="dailyCals" type="text" pattern="[0-9]{4}" class="ghost-input" placeholder="Calories: XXXX" required>
                <input type="submit" class="button" value="Get your meal plan for the day">
            </form>
            <% if(mealText !== null){ %>
                <p class="meal">Generate a meal plan above and click on each picture for the full ingredient list, recipe, and instructions on preparation.</p> <br>
                <div class="mealsContainer">
                    <p class="meal"><%= mealText.breakfastText %></p>
                    <a target="_blank" href="<%= mealUrls.breakfastUrl %>"><img src="<%= mealImages.breakfastImage %>"></img></a>
                    <p class="meal"><%= mealText.lunchText %></p>
                    <a target="_blank" href="<%= mealUrls.lunchUrl %>"><img src="<%= mealImages.lunchImage %>"></img></a>
                    <p class="meal"><%= mealText.dinnerText %></p>
                    <a target="_blank" href="<%= mealUrls.dinnerUrl %>"><img src="<%= mealImages.dinnerImage %>"></img></a>
                    <p class="meal"><%= nutrition %></p>
                </div>
            <% } %>
            <% if(error !== null){ %>
                <p><%= error %></p>
            <% } %>
        </fieldset>
    </div>

    <div class="footeradjustment"></div>
    <footer class="footerMeals">
            <a href="/"><p class="copyright">Copyright&copy; 2022 | FitHub</p></a>
            <div class="media">
                <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>&nbsp; 
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a> 
                <a href="https://www.Youtube.com"><i class="fab fa-youtube"></i></a> 
                <a href="https://www.snapchat.com"><i class="fab fa-snapchat"></i></a> 
            </div>
	</footer>
</body>
</html>